
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/headpage.css' %}">

</head>


<body>

<!-- TOP HEADING BACKGROUND -->
    <div class="background">


        <!-- NAVBAR  -->
        <div class="navbar">
            <a class="headtag" href="/"><h1 id="headname">@HAIRBYSADIEMAE</h1></a>
            <div class="navbuttons">
                <a class="navlinks" href="/services">SERVICES</a>
                <a class="navlinks" href="/portfolio">PORTFOLIO</a>
                <a class="navlinks" href="/appointments">APPOINTMENTS</a>
            </div>
            <div class="minicontact">
                <h4>SADIE@GATOSGIRL.COM</h4>
            </div>
        </div>


        <!-- SPACER  -->
        <div class="spacer"></div>
    </div>






        <!--FIRST BELLY BREAK-->
        <div class="belly">
            <div class="info_box1">
                <h1 class="boxheadtag">Styling</h1>
            </div>
            <div class="info_box2">
                <h1 class="boxheadtag">Hair Color</h1>
            </div>
            <div class="info_box3">
                <h1 class="boxheadtag">Haircuts</h1>
            </div>
        </div>
        <!-- LOWER BOX IN BELLY  -->
        <div class="belly2">
            <div class="lower_info_box1">
                <h1>WELCOME TO MY WEBSITE</h1>
                <h1>HERE YOU CAN LEARN ABOUT </h1>
                <h1>THE SERVICES I PROVIDE </h1>
                <h1>AND SEE MY WORK</h1>
            </div>
            <div class="lower_info_box1">
                <h3>SADIE MAE IS THE PERFECT HAIR STYLIST TO GET AN EXCEPTIONAL HAIRSTYLE FROM, A TOP-NOTCH
                    STYLIST AND A HIGHLY TRAINED COLORIST</h3>
                <br>
                <h4>Situated in Los Gatos, I provide services to men and women of any hair type and/or style:
                    edgy or classic, straight or
                    curly, short or long. I believe that hair should be defined by its nature and its shape, and I
                    use the industry's top brands to bring out your hair's best.
                </h4>
            </div>
        </div>




        <!-- BOOK APPOINTMENT SPACER  -->
        <div class="spacer2">
            <h1>BOOK AN APPOINTMENT</h1>
            <button class="button" type="submit"><a href="/appointments">BOOK APPOINTMENT</a></button>
        </div>




        <!--SECOND BELLY BREAK-->
        <div class="belly">
            <div class="belly">
                <a class="smpics" href="https://www.facebook.com/hairbysadiemae/">
                    <div class="info_box1-b"></div>
                </a>
                <a class="smpics" href="https://www.instagram.com/hairbysadiemae/?hl=en">
                    <div class="info_box2-b"></div>
                </a>
                <a class="smpics" href="https://www.tiktok.com/@sadiemlogan">
                    <div class="info_box3-b"></div>
                </a>
            </div>
            <!-- LOWER BOX IN BELLY  -->
            <div class="belly2">
                <div class="lower_info_box1">
                    <h1>IF YOU WOULD LIKE TO KEEP</h1>
                    <h1>UP WITH ME PLEASE FOLLOW </h1>
                    <h1>ME, LIKE, AND SUBSCRIBE</h1>
                </div>
                <div class="lower_info_box1">
                    <h3>FIND ME ON THE PLATFORM LINKS PROVIDED ABOVE</h3>
                    <br>
                    <h3>These are great places to keep up with me at. If you would like to know more about me and stay up to date with my hair career please give me a follow and you can join me along the way though my life as a hair stylist. 
                    </h3>
                </div>
            </div>
        </div>




        <!-- VIEW MY PORTFOLIO SPACER-->
        <div class="spacer3">
            <h1>VIEW MY PORTFOLIO</h1>
            <button class="button" type="submit"><a href="/portfolio">PORTFOLIO</a></button>
        </div>






        <!-- FOOTER  -->
        <footer class="footer">
            <br>
            <h1 class="footertext">HAIRBYSADIEMAE</h1>
            <br>
            <h2 class="footertext">SADIE@GATOSGIRL.COM</h3>
            <br>
            <p class="footertext"> Sadie Mae Copyright 2020. All rights reserved.</p>
            <a  href="/login"><h6 id="login">PORTAL</h6></a>
        </footer>


</body>

</html>