
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hairbysadiemae - Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">

</head>

<body>




    <!-- NAVBAR -->
    <div class="navbar">
        <a class="headtag" href="/"><h1 id="headname">@HAIRBYSADIEMAE</h1></a>
            <div class="navbuttons">
                <a class="navlinks" href="/services">SERVICES</a>
                <a class="navlinks" href="/portfolio">PORTFOLIO</a>
                <a class="navlinks" href="/appointments">APPOINTMENTS</a>
            </div>
            <div class="minicontact">
                <h4>SADIE@GATOSGIRL.COM</h4>
            </div>
    </div>



    <!-- PORTFOLIO IMAGES -->
    <div class="spacer">

    </div>
    <div class="spacer2"></div>
    <div class="spacer3"></div>
    <div class="spacer4"></div>
    <div class="spacer5"></div>
    <div class="spacer6"></div>
    <div class="spacer7"></div>
    <div class="spacer8"></div>
    <div class="spacer9"></div>
    <div class="spacer10"></div>
    <div class="spacer11"></div>
    <div class="spacer12"></div>




        <!-- Footer -->
    <footer class="footer">
        <br>
        <h1>HAIRBYSADIEMAE</h1>
        <br>
        <h2>SADIE@GATOSGIRL.COM</h3>
        <br>
        <p>Sadie Mae Copyright 2020. All rights reserved.</p>
    </footer>



    
</body>

</html>