
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hairbysadiemae - Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
</head>

<!-- NAVBAR -->
<body>
    <div class="background">
        <div class="navbar">
            <a class="headtag" href="/"><h1 id="headname">@HAIRBYSADIEMAE</h1></a>
            <div class="navbuttons">
                <a class="navlinks" href="/services">SERVICES</a>
                <a class="navlinks" href="/portfolio">PORTFOLIO</a>
                <a class="navlinks" href="/appointments">APPOINTMENTS</a>                
            </div>
            <div class="minicontact">
                <h4>SADIE@GATOSGIRL.COM</h4>
            </div>
        </div>

<!-- MAIN HEADER -->
        <div>
            <p class="services"></p>
        </div>


<!-- BELOW IS THE BOXES DISPLAYING THE DIFFRENT SERVICE BOXES-->

<!-- SERVICE BOXES -->
    <!-- BLOWOUTS -->    
        <div class="service_boxes">
            <h1 class="blowouts">BLOWOUTS</h1>
                <div class="lower_info_box1">
                    <h1>Blowouts............................................................................................Starting at $75</h1>
                    <br>
                    <br>
                    <h2>Curls - Spiral Blowouts - Straight Blowouts, Short/Long Hair Blowouts</h2>
                    <br>
                    <h3>Blowouts leave your hair voluminous and glossy giving you the option to add some soft curls or keep it straight.</h3>
                </div>
        </div>


    <!-- HIGHLIGHTS -->
        <div class="service_boxes">
            <h1 class="highlights">HIGHLIGHTS</h1>
                <div class="lower_info_box1">
                    <h1>Partial Highlight...........................................................................Starting at $120</h1>
                    <h1>Full Highlight................................................................................Starting at $180</h1>
                    <br>
                    <br>
                    <h2>Babylight Highlight - Money Piece Highlight - Natural Highlight - Rooted Highlight </h2>
                    <br>
                    <h3>Highlights are a great way to express your hairs natural color. When the hair is highlighted it lifts the brighness of the hair.</h3>
                </div>
        </div>


    <!-- COLOR -->
        <div class="service_boxes">
            <h1 class="color">COLOR</h1>
                <div class="lower_info_box1">
                    <h1>Fashion Color..............................................................................Starting at $100hr</h1>
                    <h1>Full Bleach..................................................................................Starting at $100hr</h1>
                    <h1>Color Correcion..........................................................................Starting at $100hr</h1>
                    <h1>All Over Color.................................................................................Starting at $85</h1>
                    <h1>Root Touch Up Color.......................................................................Starting at $75</h1>
                    <h1>Toner Color.......................................................................................Starting at $65</h1>
                    <br>
                    <br>
                    <h2>Fashion Color - Full Bleach - Color Correction - All Over Color - Root Touch Up Color - Toner Color</h2>
                    <br>
                    <h3>Color is a fun way to express yourself. Depending on what it is you desire we can make sure 
                        we find the right service for you that best reflects your personailty. Note: Extreme color changes will require a consultation 
                        before hand. 
                    </h3>
                </div>
        </div>






    <!-- BALAYAGE -->
        <div class="service_boxes">
            <h1 class="balayage">BALAYAGE</h1>
                <div class="lower_info_box1">
                    <h1>Balayage..........................................................................................Starting at $180</h1>
                    <br>
                    <br>
                    <h2>Foilyage - Ombre - Melted Root - Subtle Balayge</h2>
                    <br>
                    <h3>Balayages are a french hand painting style that adds subtle pops of lightness around the face
                        mimicking what the sun would do naturaly. 
                    </h3>
                </div>
            </div>


    <!-- HAIRCUTS -->
        <div class="service_boxes">
            <h1 class="haircuts">HAIRCUTS</h1>
                <div class="lower_info_box1">
                    <h1>Haircuts.............................................................................................Starting at $65</h1>
                    <h1>Mens Haircuts...................................................................................Starting at $50</h1>
                    <h1>Bang Trims........................................................................................Starting at $15</h1>
                    <br>
                    <br>
                    <h2></h2>
                    <br>
                    <h3></h3>
                </div>
        </div>


    <!-- EXTENSIONS -->
        <div class="service_boxes">
            <h1 class="extensions">EXTENSIONS</h1>
                <div class="lower_info_box1">
                    <h1>Extensions......................................................................................Starting at $950</h1>
                    <br>
                    <br>
                    <h2></h2>
                    <br>
                    <h3></h3>
                </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <br>
        <h1>HAIRBYSADIEMAE</h1>
        <br>
        <h2>SADIE@GATOSGIRL.COM</h3>
        <br>
        <p>Sadie Mae Copyright 2020. All rights reserved.</p>
    </footer>

</body>
</html>